@import "tailwindcss";

*{
   font-family: "Poppins", sans-serif;
}
.table-data::-webkit-scrollbar{
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
summary {
  list-style: none;
}

/* Remove marker in Webkit browsers (Chrome, Safari, Edge) */
summary::-webkit-details-marker {
  display: none;
}

@media print{
  .invoice-print{
    display: none;
  }
  .invoice-data{
    padding: 0;
    margin: 0;
  }
  .no-print{
    display: none !important;
  }
}